.hendra-tariff-container {
    position: relative;
    display: block;
    width: 100%;

    .hendra-tariff-filter-section {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        padding: 24px;
        margin:0 auto;
        box-sizing: border-box;
        background-color: #003876;
        border-radius: 5px;

        .hendra-tariff-filter-select-container {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: calc(50% - 20px);
            max-width: 250px;
            margin:0 10px;


            @media only screen and (max-width: 600px) {
                width: 100%!important;
                margin:0 0 10px 0px!important;
            }

            .hendra-tariff-filter-select-label {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 100%;
                color: #FFF;
                font-size: 14px;
                text-align: left;
                margin-bottom: 6px;
            }

            .hendra-tariff-filter-select {
                position: relative!important;
                display: inline-block!important;
                vertical-align: top!important;
                width: 100%!important;
                height: 32px!important;
                line-height: 32px!important;
                font-size: 14px!important;

            }

        }
    }

    .hendra-tariff-key-section {
        position: relative;
        display: none;
        width: 100%;
        margin-top: 24px;
        box-sizing: border-box;
        text-align: left;

        .hendra-tariff-key-item {
            position: relative;
            display: block;
            width: 100%;
            padding: 2px 0px;
            font-size: 16px;
        }
    }

    .hendra-tariff-table-section {
        position: relative;
        display: block;
        width: 100%;
        min-height: 100px;
        border-radius: 5px;
        margin-top: 24px;
        background-color:#fff;
        box-sizing: border-box;

        .hendra-tariff-table-loader {
            position: absolute;
            top: 0px;
            left: calc(50% - 24px);
            width: 48px;
            height: 48px;
            border: 4px solid rgba(0,0,0,0.12);
            border-left: 4px solid #003876;
            border-radius: 50%;
            transform: rotate(0deg);
            transform-origin: 50% 50%;
            animation-name: hendraTariffLoader;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
    
            @keyframes hendraTariffLoader {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

        }

        .hendra-tariff-no-results {
            position: relative;
            display: block;
            width: 100%;
            text-align: center;
        }

        .hendra-tariff-table-container {
            position: relative;
            display: block;
            width: 100%;
            border: 1px solid #003876!important;
            margin-bottom: 24px;
            border-radius: 5px;
            overflow: hidden!important;

            .hendra-tariff-table-heading {
                position: relative;
                display: block;
                width: 100%;
                height: 54px;
                line-height: 54px;
                font-size: 15px;
                font-weight: normal;
                color: #FFF;
                background-color: #003876;
                text-align: left;
                padding:0 30px;

                @media only screen and (max-width: 600px) {
                    font-size: 13px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0px;
                height: calc(100% - 54px);
                width: 8px;
                background:linear-gradient(to left, rgba(0,0,0,0.35), rgba(0,0,0,0));
            }

            table {
                position:relative;
                display: block;
                width: 100%;
                border-collapse: collapse;
                border-style: hidden; 
                border: none;
                border-spacing:0;
                margin: 0!important;
                padding: 0!important;
                text-align: left;
                overflow-y: auto;
                overflow-x: scroll;


                tr {
                    outline: none!important;
                    box-shadow: none!important;
                    border: none!important;
                    border-bottom: 1px solid #003876!important;

                    &:last-child {
                        border-bottom: none!important;
                        
                        td {
                            padding-bottom: 24px!important;
                        }
                    }

                    th {
                        border: none!important;
                        border-bottom: 1px solid #003876!important;
                        border-right: 1px solid #003876!important;
        
                        &:last-child {
                            border-right: none!important;
                        }

                        &.hendra-tariff-table-header {
                            font-size: 15px;
                            color: #FFF;
                            background-color: #003876;
                            text-align: left;
                            padding:12px 30px;
                        }

                    }

                    td {
                        border: none!important;
                        border-right: 1px solid #003876!important;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        transition: background-color 100ms;

                        &:last-child {
                            border-right: none!important;
                        }

                        &.hendra-tariff-table-range,
                        &.hendra-tariff-table-charge-type {
                            font-size: 15px;
                            font-weight: bold;
                            color: #003876;
                            text-align: center;
                            padding:12px 30px;
                            background-color: #FFF!important;
                        }

                        &.hendra-tariff-table-charge-type {
                            padding:18px 30px;
                            background-color:#63b32e !important;
                            color:#fff;
                            font-weight:bold;
                        }

                        &.hendra-tariff-table-static {
                            font-size: 15px;
                            font-weight: bold;
                            color: #FFF;
                            background-color: #63b32e!important;
                            text-align: center;
                            padding:12px 12px;

                            .flash {
                                font-size: 11px;
                                font-weight: bold;
                                border: 1px solid #ff4747;
                                padding: 3px 8px;
                                background-color: #FFF;
                                color:#ff4747!important;
                                border-radius:5px;
                            }
                        }

                        &.hendra-tariff-table-model {
                            font-size: 14px;
                            color: #003876;
                            background-color: lighten(#63b32e, 50%)!important;
                            text-align: center;
                            padding:12px 12px;
                        }

                        &.hendra-tariff-table-date {
                            font-size: 14px;
                            color: #003876;
                            background-color: #FFF;
                            text-align: center;
                            padding:12px 12px;
                        }

                        &.hendra-tariff-table-price {
                            font-size: 14px;
                            color: #003876;
                            background-color: #FFF;
                            text-align: center;
                            padding:12px 12px;

                            .was {
                                text-decoration: line-through;
                                color: #ff4747;
                            }
                        }

                        @media only screen and (max-width: 600px) {
                            &.hendra-tariff-table-range,
                            &.hendra-tariff-table-charge-type,
                            &.hendra-tariff-table-static {
                                font-size: 13px!important;
                                padding: 12px 12px!important;
                            }
                            &.hendra-tariff-table-model,
                            &.hendra-tariff-table-date,
                            &.hendra-tariff-table-price {
                                font-size: 12px!important;
                            }
                        }

                        &.sticky-col {
                            position: sticky;
                            position: -webkit-sticky;
                            left: 0;
                            z-index: 2;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: -8px;
                                height: 100%;
                                width: 8px;
                                background:linear-gradient(to right, rgba(0,0,0,0.35), rgba(0,0,0,0));
                                opacity: 0;
                                transition: opacity 200ms;
                            }
                        }
                    }

                }

                &.hendra-tariff-touring-table {
                    tr {
                        &:hover,
                        &:focus {
                            td {
                                background-color: lighten(#003876, 70%);
                            }
                        }
                    }
                }

                &.hendra-tariff-holiday-homes-table {
                    tr {
                        &:hover,
                        &:focus {
                            td {
                                background-color: lighten(#003876, 70%);
                            }
                        }
                    }
                }

                &.hendra-tariff-glamping-table {
                    tr {
                        &:hover,
                        &:focus {
                            td {
                                background-color: lighten(#003876, 70%);
                            }
                        }
                        td {
                            &:last-child {
                                width:1%;
                                white-space:nowrap;
                            }
                        }
                    }
                }

                &.sticky-on {
                    .sticky-col {
                        &::after {
                            opacity: 1;
                        }
                    }
                }


            }
        }



    }
}