#wpcontent {
    padding-left: 0px;

    #wpbody-content {
        padding-bottom: 0;

        .hendra-tariff-page {
            position: relative;
            float: left;
            width: 100%;
            min-height:calc(100vh - 32px);
            //background-color:#f8f9fa;
            background-color:#fff;
            //padding: 24px;
            box-sizing: border-box;
            

            * {
                box-sizing: border-box;
            }

            .tablefy {
                height: auto!important;
                max-height: none!important;

                table.tablefy-table {
                    height: auto!important;
                    max-height: none!important;
                }
            }


            .hendra-tariff-page-content {
                position: relative;
                float: left;
                width: 100%;

                //border-radius: 2px;
                overflow: hidden;
                background-color:#FFF;
                //box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
                //margin-bottom: 24px;

                .hendra-tariff-title-bar {
                    position: relative;
                    float: left;
                    width: 100%;
                    padding: 30px 24px;
                    border-bottom:1px solid rgba(0,0,0,0.12);

                    .hendra-tariff-title-bar-text {
                        position: relative;
                        float: left;
                        width: calc(100% - 250px);

                        .hendra-tariff-title-bar-title {
                            position: relative;
                            float: left;
                            width: 100%;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            font-size: 20px;
                            font-weight: 400;
                            color: rgba(0,0,0,0.87);
                        }

                        .hendra-tariff-title-bar-current-tariff {
                            position: relative;
                            float: left;
                            padding: 4px 6px;
                            //background-color: #63b32d;
                            border-left: 3px solid #63b32d;
                            margin-top: 16px;
                            font-size: 14px;
                            font-weight: 300;
                            color:rgba(0,0,0,0.74);
                            margin-bottom: 0;
                        }

                        .hendra-tariff-title-bar-desc {
                            position: relative;
                            float: left;
                            width: 100%;
                            margin-bottom: 0px;
                            margin-top: 8px;
                            color: rgba(0,0,0,0.74);
                            font-weight: 300;
                        }
                    }


                    .hendra-tariff-title-bar-actions {
                        position: relative;
                        float: right;

                        .hendra-tariff-action-btn {
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            background-color: rgba(76, 132, 255, 1);
                            color: #FFF;
                            border-radius: 20px;
                            padding: 0 30px;
                            height: 36px;
                            line-height: 36px;
                            margin-left: 8px;
                            font-size: 14px;
                            font-weight: 300;
                            border: none;
                            outline: none!important;
                            box-shadow: none!important;
                            transition: background-color 300ms;
                            cursor: pointer;

                            &.clear {
                                background-color: #ff4747;

                                &:hover, &:focus, &:active {
                                    background-color: darken(#ff4747, 5%);
                                }
                            }

                            &.create {
                                background-color: rgba(76, 132, 255, 1);

                                &:hover, &:focus, &:active {
                                    background-color: darken(rgba(76, 132, 255, 1), 5%);
                                }
                            }

                        }
                    }
                }
            }
        }

    }
}

#wpfooter {
    display: none;
}
/*

#hendra-tariff-ranges-page-title {
    margin: 0;
}
#hendra-tariff-ranges-page-tablefy {
    border:1px solid #f1f1f1;
    background-color:#FFF;
    width: 100%;
}
#hendra-tariff-ranges-page-tablefy .title-bar {
    position: relative;
    float: left;
    width: 100%;
    padding: 18px 24px;
    border-bottom:1px solid #f1f1f1;
}
#hendra-tariff-ranges-page-tablefy .title-bar h2 {
    position: relative;
    float: left;
}
#hendra-tariff-ranges-page-tablefy .title-bar .create-btn {
    position: relative;
    float: right;
}*/
