#hendra-tariff-import-page {

    .tariff-import-actions {
        position: relative;
        float: left;
        width: 100%;
        padding: 0 24px 0px 24px;

        .tariff-import-action {
            position: relative;
            float: left;
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,0.12);
            padding:24px 0px;

            &:last-child {
                border-bottom: none;
            }

            .hendra-tariff-action-btn {
                position: relative;
                display: inline-block;
                vertical-align: top;
                background-color: rgba(76, 132, 255, 1);
                color: #FFF;
                border-radius: 20px;
                padding: 0 30px;
                height: 36px;
                line-height: 36px;
                font-size: 14px;
                font-weight: 300;
                text-decoration: none!important;
                border: none;
                outline: none!important;
                box-shadow: none!important;
                transition: background-color 300ms;
                cursor: pointer;
                overflow: hidden;

                &.import {
                    background:rgba(76, 132, 255, 1) url(../../images/upload.svg) no-repeat 24px center;
                    background-size: 14px;
                    padding-left: 52px;

                    &:hover, &:focus, &:active {
                        background-color: darken(rgba(76, 132, 255, 1), 5%);
                    }
                }

                &.export {
                    background:rgba(76, 132, 255, 1) url(../../images/download.svg) no-repeat 24px center;
                    background-size: 14px;
                    padding-left: 52px;

                    &:hover, &:focus, &:active {
                        background-color: darken(rgba(76, 132, 255, 1), 5%);
                    }
                }

                &.download {
                    background:#229e62 url(../../images/excel.svg) no-repeat 24px center;
                    background-size: 14px;
                    padding-left: 52px;

                    &:hover, &:focus, &:active {
                        background-color: darken(#229e62, 5%);
                    }
                }

                &.clear {
                    background:#ff4747 url(../../images/delete.svg) no-repeat 24px center;
                    background-size: 14px;
                    padding-left: 52px;

                    &:hover, &:focus, &:active {
                        background-color: darken(#ff4747, 5%);
                    }
                }


                input[name="csv_file"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer!important;
                }

            }
        }
    }

}